.right-buttons{
    display: flex;
    flex-direction: column;
    
}

.left-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: -20px;
}

.finish{
    margin-top: 50px;
}

img.bald {
    position: relative;
    margin-left:auto;
    margin-right: auto;
    margin-top: 100px;
    width: 360px;
    height: auto;
}

.mirror{
    position: absolute;
    width: 390px;
    height: auto;
    margin-left: -28px;
}


.show-score{
 position: absolute;
 font-size: 40px;
 margin-top: 200px;
 margin-right: 500px;
 margin-left: -150px;
}

.score{
    position: absolute;
    font-size: 40px;
    margin-top: 270px;
    margin-left: -50px;
}


.leftside{
    display: flex;
    flex-direction: column;
    
}

.gameImg{
    margin-top: 150px;
    position: absolute;
}

.submit{
  margin-top: 400px;
  width: 100px;
}


.message{
    position: absolute;
    margin-top: 280px;
   
}

.start{
    width: 200px;
    height: auto;
    border-radius: 10px;
    font-size: 40px;
    background-color: darkorange;
    color: white;
}


