.right-buttons{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    
}

.left-buttons{
    display: flex;
    flex-direction: column;
    /* margin-top: 200px;
    margin-left: -20px; */
    /* justify-content: space-evenly; */
}


.finish{
    margin-top: 50px;
    background-color: rgb(62, 62, 114);
    color: white;
}

.reset{
    margin-top: 50px;
    background-color: rgb(62, 62, 114);
    color: white;
}

.back{
    margin-top: 70px;
    background-color: rgb(62, 62, 114);
    color: white;
}

img.bald {
    position: relative;
    margin-left:auto;
    margin-right: auto;
    margin-top: 21%;
    width: 72%;
    height: auto;
}

.mirror{
    position: absolute;
    width: 32%;
    height: auto;
    margin-left: -3%;
}


.show-score{
 position: absolute;
 font-size: 40px;
 margin-top: 200px;
 margin-right: 500px;
 margin-left: -150px;
}

.score{
    position: absolute;
    font-size: 40px;
    margin-top: 270px;
    margin-left: -50px;
}


.leftside{
    display: flex;
    flex-direction: column;
    
}

.gameImg{
    margin-top: 150px;
    position: absolute;
}

.submit{
  margin-top: 400px;
  width: 100px;
  background-color: rgb(62, 62, 114);
  color: white;
}


.message{
    position: absolute;
    margin-top: 280px;
   
}

.start{
    width: 200px;
    height: auto;
    border-radius: 10px;
    font-size: 40px;
    background-color: rgb(62, 62, 114);
    color: white;
}

.timediv{
    position: absolute;
    margin-left: 550px;
    margin-top: 250px;
    
}

.time{
    font-size: 50px;
    background-color: rgb(18, 91, 116);
    border-radius: 10px;
    padding: 10px;
}

.restart{
    position: absolute;
    margin-top: 370px;
    padding: 5px;
    font-size: 15px;
    background-color: rgb(62, 62, 114);
    color: white;
}

.left-buttons#createReset{
    margin-top: 30px;
}


