.right-buttons{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    /* justify-content: space-evenly; */
    
}

.left-buttons{
    display: flex;
    flex-direction: column;
    /* margin-top: 200px;
    margin-left: -20px; */
    /* justify-content: space-evenly; */
    margin-left: -5%;
}


.finish{
    margin-top: 30%;
    background-color: rgb(62, 62, 114);
    color: white;
    font-size: 100%;
   
}

.reset{
    margin-top: 45%;
    background-color: rgb(62, 62, 114);
    color: white;
    font-size: 100%;
    
}

.back{
    margin-top: 70%;
    background-color: rgb(62, 62, 114);
    color: white;
    font-size: 100%;
    
}

img.bald {
    position: absolute;
    margin-left: -15%;
    margin-right: auto;
    margin-top: 10%;
    width: 32%;
    height: auto;
}

.mirror{
    position: absolute;
    width: 32%;
    height: auto;
    margin-left: -15%;
}


.show-score{
 position: absolute;
 font-size: 40px;
 margin-top: 16%;
 margin-left: -12%;
}

.score{
    position: absolute;
    font-size: 40px;
    margin-top: 21%;
    margin-left: -1%;
}


.leftside{
    display: flex;
    flex-direction: column;
    
}

.gameImg{
    margin-top: 10%;
    position: absolute;
    width: 10%;
}

.submit{
  margin-top: 400%;
  width: 100px;
  background-color: rgb(62, 62, 114);
  color: white;
}


.message{
    position: absolute;
    margin-top: 280px;
   
}

.start{
    width: 200px;
    height: auto;
    border-radius: 10px;
    font-size: 40px;
    background-color: rgb(62, 62, 114);
    color: white;
}

.timediv{
    position: absolute;
    margin-left: 50%;
    margin-top: 20%;
    
}

.time{
    font-size: 50px;
    background-color: rgb(18, 91, 116);
    border-radius: 10px;
    padding: 10px;
}

.restart{
    position: absolute;
    margin-top: 370px;
    padding: 5px;
    font-size: 15px;
    background-color: rgb(62, 62, 114);
    color: white;
}

.left-buttons#createReset{
    margin-top: 30px;
}

.logo2{
    position: absolute;
    width: 20%;
    margin-top: -11%;
    margin-left: -2%;
}


