
img.bang-style{
    position: absolute;
}

.hair-style {
    position: absolute;
    width: 30%;
    height: auto;
    margin-left: -15%;
    margin-top: 7%;  
}

.hair-style-L{
    position: absolute;
    width: 30%;
    height: auto;
    margin-left: -15%;
    margin-top: 7%;  
}

.bang-style-L{
    position: absolute;
}

#initial-bangs{
    width: 25%;
    height: auto;
    margin-left:-12.5%;
    margin-top: 8%;  
}


#second-bangs{
    width: 27%;
    height: auto;
    margin-left:-13.5%;
    margin-top: 7%;   
}

#third-bangs{
    width: 28%;
    height: auto;
    margin-left:-14.5%;
    margin-top: 6%;  
}

.man-style{
    position: absolute;
    width: 230px;
    height: auto;
    margin-left: -308px;
    margin-top: 90px;  
}

.man-style-L{
    position: absolute;
    width: 230px;
    height: auto;
    margin-left: -308px;
    margin-top: 90px;  
}

#man-long-2{
    position: absolute;
    width: 235px;
    height: auto;
    margin-left: -312px;
    margin-top: 75px;
}

#man-short-1{
    position: absolute;
    width: 295px;
    height: auto;
    margin-left: -340px;
    margin-top: 45px;  
}

#man-short-2{
    position: absolute;
    width: 300px;
    height: auto;
    margin-left: -345px;
    margin-top: 45px;  
}

#man-short-3{
    position: absolute;
    width: 295px;
    height: auto;
    margin-left: -340px;
    margin-top: 45px;  
}



#man-short-4{
    position: absolute;
    width: 295px;
    height: auto;
    margin-left: -340px;
    margin-top: 45px;  
}

#man-short-end{
    position: absolute;
    width: 250px;
    height: auto;
    margin-left: -316px;
    margin-top: 50px;
}

