img.hair-style {
    position: absolute;
    
}

img.bang-style{
    position: absolute;
}

.hair-style {
    width: 370px;
    height: auto;
    margin-left: -380px;
    margin-top: 48px;  
}

#initial-bangs{
    width: 315px;
    height: auto;
    margin-left: -350px;
    margin-top: 60px;  
}

#second-bangs{
    width: 372px;
    height: auto;
    margin-left: -380px;
    margin-top: 35px;  
}

#third-bangs{
    width: 380px;
    height: auto;
    margin-left: -392px;
    margin-top: 30px;  
}

.man-style{
    position: absolute;
    width: 230px;
    height: auto;
    margin-left: -308px;
    margin-top: 90px;  
}

#man-short-1{
    position: absolute;
    width: 295px;
    height: auto;
    margin-left: -340px;
    margin-top: 45px;  
}

#man-short-4{
    position: absolute;
    width: 295px;
    height: auto;
    margin-left: -340px;
    margin-top: 45px;  
}

#man-short-last{
    position: absolute;
    width: 250px;
    height: auto;
    margin-left: -316px;
    margin-top: 50px;
}

