img.hair-style {
    position: absolute;
    
}

img.bang-style{
    position: absolute;
}

.hair-style {
    width: 370px;
    height: auto;
    margin-left: -380px;
    margin-top: 48px;  
}

#initial-bangs{
    width: 315px;
    height: auto;
    margin-left: -350px;
    margin-top: 60px;  
}

#second-bangs{
    width: 372px;
    height: auto;
    margin-left: -380px;
    margin-top: 35px;  
}

#third-bangs{
    width: 380px;
    height: auto;
    margin-left: -392px;
    margin-top: 30px;  
}