.salon{
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.genderbtnF{
    margin-left: -200%;
    margin-right: 20%;
    margin-top: 340%;
    font-size: 30px;
    background-color: rgb(62, 62, 114);
    color:white;
    border-radius: 15px;
    padding: 20%;
}
.genderbtnM{
    margin-left: 110%;
    margin-right: 20%;
    margin-top: 450%;
    font-size: 30px;
    background-color: rgb(62, 62, 114);
    color:white;
    border-radius: 15px;
    padding: 20%;
}

/* .genderbtnF{
    margin-left: -130%;
    margin-right: 20%;
    margin-top: 340%;
    font-size: 30px;
    background-color: rgb(62, 62, 114);
    color:white;
    border-radius: 15px;
    padding: 20%;
}
.genderbtnM{
    margin-left: 110%;
    margin-right: 20%;
    margin-top: 450%;
    font-size: 30px;
    background-color: rgb(62, 62, 114);
    color:white;
    border-radius: 15px;
    padding: 20%;
} */

.genderbtn:hover{
    background-color: rgb(132, 137, 192);
}

.rightdiv .mode1{
    position: absolute;
    margin-top: 1%;
    margin-left: -10%;
    border-radius: 5px;
    background-color: rgb(62, 62, 114);
   padding: auto;
   color: white;
}
.rightdiv .mode2{
    position: absolute;
    margin-top: 3%;
    margin-left: -10%;
    border-radius: 5px;
    background-color: rgb(62, 62, 114);
   padding: auto;
   color: white;
}

.rightdiv .mode3{
    position: absolute;
    margin-top: 5%;
    margin-left: -10%;
    border-radius: 5px;
    background-color: rgb(62, 62, 114);
   padding: auto;
   color: white;
}

.leftdiv .mode1{
    position: absolute;
    margin-top: 1%;
    margin-left: 3%;
    border-radius: 5px;
    background-color: rgb(62, 62, 114);
   padding: auto;
   color: white;
}

.leftdiv .mode2{
    position: absolute;
    margin-top: 3%;  
   margin-left: 3%;
    border-radius: 5px;
    background-color: rgb(62, 62, 114);
   padding: auto;
   color: white;
}

.leftdiv .mode3{
    position: absolute;
    margin-top: 5%;
    margin-left: 3%;
    border-radius: 5px;
    background-color: rgb(62, 62, 114);
   padding: auto;
   color: white;
}

