.main-page{
    display: flex;
    justify-content: space-around;
}

body{
    background-color: rgb(145, 175, 231);
}

.introdiv{
    position: absolute;
    /* margin-bottom: 100px; */
    /* background-color: black; */
}

.introp{
    margin-top: 200px;
    color: white;
    background-color: rgb(58, 55, 55);
    font-size: 25px;
    width: 200px;
    height: auto;
    padding: 50px;
}

.readybtn{
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 15px;
}