.tools{
    width: 50px;
}


.right-buttons > button{
    margin-top: 4px;
}

.left-buttons > button{
    margin-top: 4px;
}

.wheel{
    margin-top: 200px;
    position: absolute;
    margin-left: -300px;
}

#hair-clipper{
    width: 20px;
}

.colorSelector{
    display: flex;
    flex-direction: column;
}

.colorSelector > button{
    width: 67px;
    height: 26px;
}

.correctImg{
    margin-top: -10px;
    width: 140px;
    background-color: gray;
}