.tools{
    width: 60px;
}

.wheel{
    margin-top: 20px;
}

#hair-clipper{
    width: 20px;
}

.colorSelector{
    display: flex;
    flex-direction: column;
}
.colorbtn{
    width: 100px;
    height: 30px;
    
}

.correctImg{
    width: 75px;
}