.tools{
    width: 60px;
}

.wheel{
    margin-top: 200px;
    position: absolute;
    margin-left: -300px;
}

#hair-clipper{
    width: 20px;
}

.colorSelector{
    display: flex;
    flex-direction: column;
}
.colorbtn{
    width: 100px;
    height: 30px;
    
}

.correctImg{
    margin-top: -10px;
    width: 140px;
    background-color: gray;
}