.gameImgForTwo{
    width: 80%;
    margin-left: 20%;
}

.submit#left-submit{
    position: absolute;
    margin-top: 40%;
    background-color: indianred;
    padding: 3px;
    color: white;
    margin-left: -10%;
}

.submit#right-submit{
    position: absolute;
    margin-top: 40%;
    background-color: indianred;
    padding: 3px;
    color: white;
    margin-left: -10%;
}

#left-reset{
    position: absolute;
    margin-top: 40%;
    background-color: indianred;
    padding: 3px;
    color: white;
    margin-left: -1%;
}

#right-reset{
    position: absolute;
    margin-top: 40%;
    background-color: indianred;
    padding: 3px;
    color: white;
    margin-left: -1%;
}

#left-back{
    position: absolute;
    margin-top: 40%;
    background-color: indianred;
    padding: 3px;
    color: white;
    margin-left: 7%;
}

#right-back{
    position: absolute;
    margin-top: 40%;
    background-color: indianred;
    padding: 3px;
    color: white;
    margin-left: 7%;
}

.msgLeft{
    position: absolute;
    margin-left: -10px;
    margin-top: -70px;
}

.msgRight{
    position: absolute;
    margin-left: 30px;
    margin-top: -70px;
}

.show-score-1{
    position: absolute;
    margin-left: -60px;
    font-size: 30px;
    margin-top: 200px;
}

.show-score-2{
    position: absolute;
    margin-left: -40px;
    font-size: 30px;
    margin-top: 200px;
}

.countdown{
    font-size: 100%;
    background-color: rgb(52, 52, 124);
    border-radius: 5px;
    color: white;
    padding-top: 200%;
    padding-bottom: 200%;
    padding-left: 200%;
    padding-right: 300%;
    margin-top: 900%;
}

.midLeftdiv .logo2{
    position: absolute;
    width: 20%;
    margin-top: -11%;
    margin-left: -10%;
}

.midRightdiv .logo2{
    position: absolute;
    width: 20%;
    margin-top: -11%;
    margin-left: -10%;
}

